* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: hsl(0, 36%, 70%);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}

.bg {
  max-width: 960px;
  margin: 0 10px 0 200px;
  display: flex;
  flex-direction: column;
  align-items: initial;
  width: 35%;
}

.dark {
  font-weight: 600;
  color: hsl(0, 6%, 24%);
}

.ligh {
  font-weight: 100;
}

.aside .text-input {
  float: left;
  margin-top: 10px;
  padding: 18px;
  border-radius: 25px;
  border: 1px solid hsla(0, 36%, 70%, 0.397);
  width: 320px;
}

.aside .btn-arrow {
  background-image: url(images/icon-arrow.svg),
    linear-gradient(135deg, #f8bfbf, #ee8c8c);
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  padding: 18px;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  border: none;
  margin-left: -60px;
  margin-bottom: -50px;
}

.arrow {
  width: 300px;
  height: 300px;
  background-color: hsl(0, 93%, 83%);
}

nav {
  margin-top: 60px;
  margin-bottom: 140px;
}

h1 {
  font-size: 65px;
  margin-bottom: 30px;
  line-height: 80px;
  text-transform: uppercase;
  letter-spacing: 18px;
}

.bg-aside {
  display: flex;
  flex-direction: column;
}

.aside {
  margin-right: 100px;
  width: 400px;
}

.bg-img {
  width: 40%;
  height: 750px;
  background: url("images/hero-desktop.jpg") no-repeat;
}

p {
  margin: 15px 0 15px 0;
  line-height: 30px;
  text-align: start;
}

footer {
  margin-top: 25px;
}
